.container {
    display: flex;
    min-width: 900px;
    gap: 8px;
    position: relative;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.toolbar {
    display: flex;
    height: 98vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.7);
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

ul li {
    display: flex;
    height: 100%;
    Width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
}

ul li .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid white;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.toolIsActive {
    background-color: rgba(255, 255, 255, 0.5);
}

ul li:last-child .imageWrapper {border-bottom: none;}

li img {
    width: 75px;
    height: 75px;
}

.modalWrapper {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    width: 450px;
    margin-top: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 400px;
    width: 450px;
    display: flex;
    gap: 8px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.active {
    display: block;
}

.colorPickerCanvas {    
    position: relative;
    align-self: flex-start;
}

.colorPickerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selectedColorDivs {
    display: flex;
    border-style: solid;
    width: min-content;
    background-color: white;
}

.on {
    border-style: solid;
    border-color: white;
}

.selectedColorWindow {
    height: 50px;
    width: 100px;
    border-style: solid;
}

.selectedColorPen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-left: none;
}

.selectedColorPen:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.penTool {
    max-height: 40px;
}

.colorPickerMarker {
    position: absolute; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    width: 8px;
    height: 8px;
}

.colorSliderWrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.colorSlider {
    align-self: flex-start;
}

.colorSliderMarker {
    position: absolute; 
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    width: 40px;
    height: 4px;
}

.square-css {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-grow: 1;
    background-color: white;
}

.row {
    display: flex;
}

.backgroundWrapper {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.grid {
    height: 500px;
    width: 500px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    background-color: white;
}

.footer {
    display: flex;
    height: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: auto;
    margin-left: 95px;
    justify-content: flex-end;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8px;
}