.container {
    display: flex;
    justify-content: center;
}

.square-css {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-grow: 1;
}

.row {
    display: flex;
}

.grid {
    height: 500px;
    width: 500px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.colorPickerCanvas {
    height: 300px;
    width: 300px;
}

.buttonsMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}